body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F2E5BF;
}

.header {
  height: 3rem;
  background-color: #257180;
  color: #F2E5BF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.hero {
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.hero .main-heading {
  color: #CB6040;
  font-size: 5rem;
  margin: 0;
}

.hero .hero-cta {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.hero .hero-cta .login-btn,
.hero .hero-cta .get-started-btn {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #FD8B51;
  color: #F2E5BF;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms;
}

.hero .hero-cta .login-btn:hover,
.hero .hero-cta .get-started-btn:hover {
  background-color: #CB6040;
}

.hero .hero-cta h2 {
  margin: 0;
}

.footer {
  height: 5rem;
  background-color: #257180;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #F2E5BF;
}